BOT_ENV=development
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
JITO_BLOCK_ENGINE_URL=https://mainnet.block-engine.jito.wtf/api/v1
JITO_AUTH_HEADER=
JUPITER_API_BASE_URL=https://api.jup.ag
JUPITER_API_KEY=
RAYDIUM_API_BASE_URL=https://transaction-v1.raydium.io
ORCA_API_BASE_URL=https://api.orca.so/v2/solana
MIN_NET_PROFIT_USD=0
SAFETY_BUFFER_USD=0.05
PRIORITY_FEE_MULTIPLIER=1.2
SCAN_SOL_INPUTS_LAMPORTS=10000000,25000000,50000000,100000000
SCAN_USDC_INPUTS=10000000,25000000,50000000,100000000
SCANNER_SLIPPAGE_BPS=10
PRIVATE_SEND_ENABLED=false
PRIVATE_SUBMISSION_MODE=jito
SOLANA_OPERATOR_PRIVATE_KEY=
